// colors

ui-cl-color-eucalypt = #21A45D
ui-cl-color-light-eucalypt = #8bc49e
ui-cl-color-steel-gray = #1D1D2B
ui-cl-color-jumbo = #707079
ui-cl-color-comet = #5F5E7A
ui-cl-color-gun-powder = #434257
ui-cl-color-wild-watermelon = #FF5573
ui-cl-color-sea-green = #2C8F59
ui-cl-color-bright-sun = #FFE03C
ui-cl-color-scarpa-flow = #5A5A62
ui-cl-color-charade = #292938
ui-cl-color-manatee = #9897A6
ui-cl-color-white-lilac = #F1F3F9
ui-cl-color-santas-gray = #A4A4B8
ui-cl-color-storm-gray = #747487
ui-cl-color-silver-sand = #C4C5C7
ui-cl-color-white-theme = #ffffff
ui-cl-color-white-bright = #fafafa
ui-cl-color-white-bright-second = #E7E7E7
ui-cl-color-body-color = #141414
ui-cl-color-border-dark = #424242
ui-cl-color-dark-grey = #222222
ui-cl-color-medium-grey = #7d7d7d
ui-cl-color-full-black = #000000
ui-cl-color-grey-color = #333333
ui-cl-color-bright-light-blue = #99a2ad
ui-cl-color-light-grey = #c2c2c2
ui-cl-color-medium-grey-light = #555555

ui-cl-color-e2e2e2 = #e2e2e2
ui-cl-color-949494 = #949494
ui-cl-color-d2d2d2 = #d2d2d2
ui-cl-color-e6f4eb = #e6f4eb
ui-cl-color-ababab = #ababab
ui-cl-color-c8ecd8 = #c8ecd8
ui-cl-color-767676 = #767676
ui-cl-color-0A0A0A = #0A0A0A
ui-cl-color-BCBCC7 = #BCBCC7
ui-cl-color-e9e9e9 = #e9e9e9
ui-cl-color-c5c5c5 = #c5c5c5
ui-cl-color-8e8e8e = #8e8e8e
ui-cl-color-c85252 = #c85252
ui-cl-color-e3e3e3 = #E3E3E3
ui-cl-color-e6e6e6 = #E6E6E6
ui-cl-color-a5cfb1 = #A5CFB1
ui-cl-color-d6d6e2 = #D6D6E2
ui-cl-color-e3e4e8 = #E3E4E8
ui-cl-color-3fb3ff = #3fb3ff
ui-cl-color-303030 = #303030
ui-cl-color-424244 = #424244
ui-cl-color-393838 = #393838
ui-cl-color-5c5c5c = #5c5c5c
ui-cl-color-3a3a3a = #3a3a3a
ui-cl-color-363636 = #363636
ui-cl-color-292929 = #292929
ui-cl-color-919191 = #919191
ui-cl-color-292935 = #292935
ui-cl-color-9e9e9e = #9e9e9e
ui-cl-color-8a8a8a = #8a8a8a
ui-cl-color-686868 = #686868
ui-cl-color-1d1d1d = #1d1d1d
ui-cl-color-2f2f2f = #2f2f2f
ui-cl-color-e1e3e6 = #E1E3E6
ui-cl-color-1d1b1b = #1d1b1b
ui-cl-color-dfdfdf = #dfdfdf
ui-cl-color-939393 = #939393
ui-cl-color-b2b2b2 = #b2b2b2
ui-cl-color-fafaff = #fafaff
ui-cl-color-747474 = #747474

// borders and box shadow
box-shadow-main = 0px 2px 8px rgba(0,0,0,0.08)

border-super-small = 5px
border-small = 10px
border-big-radius = 20px
border-half = 50%
border-fullhalf = 100%

// weight
font-weight-light = 300
font-weight-regular = 400
font-weight-medium = 500
font-weight-bold = 600


// sizes
font-size-super-small = 8px
font-size-super-upsmall = 10px
font-size-super-medium-small = 12px
font-size-small = 13px
font-size-small-medium = 14px
font-size-downdefault = 15px
font-size-default = 16px
font-size-updefault = 18px

breakpoint = 1024px
breakpoint-lg = 1280px
breakpoint-xl = 1366px
breakpoint-xxl = 1919px

sidebar-width = 310px
sidebar-width-xl = 250px
header-height = 85px
standart-padding = 45px 40px 300px
standart-padding-xxl = 25px 20px 300px

// fonts

font-open = 'Open Sans', Arial, sans-serif
font-exo = 'Exo', Arial, sans-serif
