.push__img
  width 65px
  height 65px
  border-radius border-half
  overflow hidden
  margin-right 20px

  img
    width 100%

.push__content
  width 100%
  max-width 350px
  margin-right auto
  color ui-cl-color-steel-gray
  font-size font-size-downdefault
  line-height 22px

.push__content-name
  display block
  font-size font-size-downdefault
  line-height 17px
  color #000
  font-weight font-weight-regular

.push__content-preview
  color ui-cl-color-eucalypt
  font-weight font-weight-bold

.push__time
  font-size font-size-downdefault
  line-height 22px
  color #5A5A5A