.search-filter 
  display flex 
  align-items flex-end

  
  @media (max-width breakpoint-xl) 
   flex-wrap wrap
   padding 10px 0

.search-filter__block 
  &+& 
    margin-left 60px

  &.btn-news
    margin-top 20px
	 .btn
	  margin-left 0

  &.author
    width 300px
  
  & + &.lastname 
    margin-left 20px 
   
  &.age 
    width 100% 
    max-width 280px 

    .search__age-defis 
      margin 0 5px 
     
  &.region 
    width 100% 
    max-width 360px 

    .search-filter__select 
      max-width 170px  

  &.time 
    width 100%
    max-width 240px
    .search-filter__select 
      max-width 100% 

  &.tags 
    width 100%
    max-width 300px 
   
  .select + .select 
    margin-top 0 
    margin-left 20px 
   
  @media (max-width breakpoint-xxl) 
    &+& 
      margin-left 20px    
   
  @media (max-width breakpoint-xl) 
    width 100%
    max-width 50%
    &:last-child 
      max-width 280px
     
    &+& 
      margin-left 0
     
    &.name,&.lastname 
      max-width 25%
     
    &.lastname 
      margin-right auto
      margin-left 20px
     
    &.region 
      margin-top 20px
     
    &.time,
    &.btn-news
      margin-left 20px
     
    &.tags 
      margin-top 20px
      max-width 50%

.search-filter__select
  position relative
  width 100%
  max-width 130px
  border-radius border-super-small
  padding 10px 15px
  height unset
  font-size font-size-small-medium

.search-filter__block.tags
  .add-tags
    display flex
    align-items flex-end
  .add-tags__block
    display flex
    flex-wrap wrap
    gap 10px
    min-height unset !important
    margin 0 !important
  .add-tags__item
    margin 0
  .add-tags__input
    max-width 200px
    border 1px solid #CBCBCB
    box-sizing border-box
    padding 10px 15px
    font-size font-size-small-medium
    display block
    width 100%
    padding 10px 15px !important
    border-radius border-super-small
    margin-bottom 0 !important
    margin-right 20px
