.search__label
  font-size font-size-downdefault
  line-height 22px
  color ui-cl-color-comet
  display block
  margin-bottom 5px

.search__input
  border 1px solid #CBCBCB
  box-sizing border-box
  padding 10px 15px
  font-size font-size-small-medium
  display block
  width 100%
  border-radius border-super-small

.search__row
  display flex
  gap 5px
  align-items center

.search__age-defis
  margin 0 10px
  font-weight font-weight-light
  font-size font-size-small
  color ui-cl-color-santas-gray
.search-filter__block.tags
   max-width 100% !important
