.select
  font-size font-size-downdefault
  color #000
  padding 0 15px
  height 35px
  border 1px solid ui-cl-color-e3e3e3
  border-radius 0
  -moz-appearance none
  -webkit-appearance none
  appearance none
  background #fff url('../../static/img/arrow__select.svg') no-repeat calc(100% - 10px) 16px

